 <% include ../layout/head %>
<body>
	<div id="left">
		 <% include ../layout/header %>
	</div>
	<div id="main">
		<div id="container">
			<% include ./about_content %>
		</div>
	</div>
</body> 

<style>
#header{
	margin:0px;
}
</style>
</html>
