 <% include ../layout/head %>
<body>
	<div id="left">
		 <% include ../layout/back_header %>
	</div>
	<div id="main">
		<div id="container">

		</div>
	</div>
</body>

<style>
#container{text-align:center; width:1000px;}

#main input{
  width: 260px;
  background: transparent;
  border: 0;
  line-height: 3.6em;
  box-sizing: border-box;
  color: #71747A;
  font-family:'Helvetica Neue';
  text-shadow: 0 1px 0 #FFF;
}
#main input:focus{
  outline: none;
}
</style>
</html>

