<% include ../layout/head %>
<body>
	<div id="left">
		 <% include ../layout/back_header %>
		 <script src="ckeditor/ckeditor.js"></script>
		 <% if((permission=="Admin")||(permission=="Owner")){ %>
		 <script src="js/bulletin_about_contct.js"></script>
		 <% } %>
	</div>
	<div id="main">
		<div id="container">
			<% if((permission=="Admin")||(permission=="Owner")){ %>
			<div>
				<h1>Edit About</h1>
				<textarea id="Edit_About" name="Edit_Area" rows="10" cols="60" ><% include ./about_content %></textarea>
				<button id="edbtn" onclick="edit_about()">Save About</button>
				<h1>Edit Contact</h1>
				<textarea id="Edit_Contact" name="Edit_Area" rows="10" cols="60" ><% include ./contact_content %></textarea>
				<button id="edbtn" onclick="edit_contact()">Save Contact</button>
			</div>
			<% } %>
		</div>
	</div>
</body>

<% if((permission=="Admin")||(permission=="Owner")){ %>
<script>
	CKEDITOR.replace('Edit_About');
	CKEDITOR.replace('Edit_Contact');
</script>
<% } %>

<style>
#container{
	text-align:left;
	width:1000px;
}
#bulletin{
	padding:20px;
	color:#ffffff;
	width:950px;
	height:400px;
	margin:auto;
	background-color:#002b00;
	border-style: solid;
	border-width:10px;
	border-color:#8e6600;
	box-shadow:6px 6px 3px -2px rgba(40%,40%,60%,1);
	-moz-box-shadow:6px 6px 3px -2px rgba(40%,40%,60%,1);
	-webkit-box-shadow:6px 6px 3px -2px rgba(40%,40%,60%,1);
}
<% if((permission=="Admin")||(permission=="Owner")){ %>
#edbtn{
	background-color:#ffffff;
	width:120px;
	height:30px;
	margin-top:20px;
	font-size:15px;
	color:#dd6a5e;
	border-radius:10px;
	border: 0;
	-moz-box-shadow:1px 1px 4px rgba(117,72,72,0.7);
	-webkit-box-shadow:1px 1px 4px rgba(117,72,72,0.7);
	box-shadow:1px 1px 4px rgba(117,72,72,0.7);
}
<% } %>

#main input{
  width: 260px;
  background: transparent;
  border: 0;
  line-height: 3.6em;
  box-sizing: border-box;
  color: #71747A;
  font-family:'Helvetica Neue';
  text-shadow: 0 1px 0 #FFF;
}
#main input:focus{
  outline: none;
}
</style>

</html>

